<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta boletos</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<header>Viajes el destino feliz </header>
<body>
    <form action="/boletos" method="post">
    <label for="">Numero de boleto</label>
    <input type="number" required="true" name="NumBoleto" id="NumBoleto">
    <br>
    <label for="">Destino</label>
    <input type="text" required="true" id="Destino">
    <br>
    <label for="">Nombre del cliente</label>
    <input type="text" required="true" id="NombreCliente">
    <br>
    <label for="">Años cumplidos</label>
    <input type="number" required="true" name="edad" id="edad">
    <br>
    <label for="">Seleccionar tipo</label>
    <select name="tipo" id="tipo">
        <option value="1">sensillo</option>
        <option value="2">doble</option>
        </select>
    <label for="">Precio</label>
    <input type="number" required="true" name="Precio" id="Precio">
    <hr>
    <button type="submit">Calcular</button>
    <button>limpiar</button>
</form>

<% let Impuesto = 0;
let Descuento = 0;
let TotalPagar=0;
let Sub =0;

if(Precio!=null){
 Impuesto = parseInt(Precio) * .16; 
 

 if(edad>=65){ 
   Descuento = parseInt(Precio) * .5;
  }else{ 
     Descuento = 0; 
 }

  if(tipo==2){ 
     Precio = parseInt(Precio) * 1.80; 
 }
 Sub = parseInt(Precio) * NumBoleto;
}%>



<%TotalPagar = Sub + Impuesto - Descuento; %>
<h1>Sub Total <%=Sub%></h1>
<h1>Precio: <%=Precio%></h1>
<h1>Descuento:<%=Descuento%></h1>
<h1>Impuesto: <%=Impuesto%></h1>
<h1>Total a Pagar:<%=TotalPagar%></h1>

</body>
</html>